<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Flappy_Bird.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Flappy_Bird.Properties.Settings>
            <setting name="h_score1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Score" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="h_score2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="h_score3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="h_score4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="h_score5" serializeAs="String">
                <value>0</value>
            </setting>
        </Flappy_Bird.Properties.Settings>
    </userSettings>
</configuration>
